In [44]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [45]:
df = pd.read_csv("D:\\python\\machinelearing\\tips_1.csv")
df.head()

   total_bill   tip       X smoker
0       16.99  1.01  Female     No
1       10.34  1.66       M      Y
2       21.01  3.50       f      N
3       23.68  3.31    Male     No
4       24.59  3.61  Female     No

In [46]:
df['X'].unique()

array(['Female', 'M', 'f', 'Male'], dtype=object)

In [47]:
df['smoker'].unique()

array(['No', 'Y', 'N', 'Yes'], dtype=object)

In [48]:
OneHot = pd.get_dummies(df,columns=['X','smoker'],dtype='int')
OneHot.head()

,total_bill,tip,X_Female,X_M,X_Male,X_f,smoker_N,smoker_No,smoker_Y,smoker_Yes
0,16.99,1.01,1,0,0,0,0,1,0,0
1,10.34,1.66,0,1,0,0,0,0,1,0
2,21.01,3.50,0,0,0,1,1,0,0,0
3,23.68,3.31,0,0,1,0,0,1,0,0
4,24.59,3.61,1,0,0,0,0,1,0,0

In [49]:
Hot = OneHotEncoder()

In [51]:
Hot.fit_transform(df[['X']]).toarray()

array([[1., 0., 0., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 0., 1., ..., 1., 0., 0.],
       [1., 0., 0., ..., 1., 0., 0.]])